*.py[cod]

# Editors
*~
*.swp

# C extensions
*.so

# Python
*.py[cod]
*.so
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__
pip-log.txt
.coverage
.tox
nosetests.xml
*.mo
.idea
.hg
.hgignore
env/*
cover/


# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea

# Operating System
.DS_Store

output
